<!DOCTYPE html>
<html>
<body>

<h1>Weight prediction algorithm</h1>
<p>This ML algorithm will predict weight of a person if height is specified</p>
<form action="/" method="post">
    <label for="fname">Enter height value:</label><br>
    <input type="number" name="height" placeholder="enter your height" step="any"><br><br>
    <input type="submit" value="Submit">
  </form>
<h1>The weight of a person with height {{height}} inches is</h1>
<h1>{{weight}} Pounds</h1>
</body>
</html>
